h1 {
  font-family: PT Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 134.5%;
  letter-spacing: 0.15em;
  color: #fff;
  margin: 0px 0px 0px 0px;
}

h2 {
  font-family: PT Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  color: #55546E;
  margin: 0px 0px 0px 0px;
}

h3 {
  font-family: PT Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 100%;
  color: #55546E;
  margin: 0px 0px 0px 0px;
  text-transform: uppercase;
}

h4 {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 10px;
  line-height: 100%;
  color: #55546E;
  margin: 4px 0px 0px 4px;
}

h5 {
  font-family: PT Sans;
  font-weight: normal;
  font-size: 10px;
  line-height: 100%;
  /* display: flex; */
  /* align-items: flex-end; */
  color: #55546E;
  margin: 4px 0px 4px 4px;
}

h6 {
  font-family: FilmotypeGiant;
  font-weight: 300;
  /* font-size: 150px;   */
  /* line-height: 100%; */
  letter-spacing: -0.02em;
  color: #55546E;
  margin: 0px 0px -15px 0px;
  }

a:link {
    color: #55546E;
      font-weight: normal;
  }

a:visited {
  color: #55546E;
    font-weight: 700;
}

body {
  background-color: #55546E;
  width: 100%;
}

.breakLine {
  border: 1px dotted #A99D5A; */
}

.mobileBreakLine {
  border: 0px dotted #A99D5A; */
}




#container {
  display: grid;
  background: #FCE545;
  grid-template-areas:
    "header header header header"
    "chart chart chart chart"
    "content content content content"
    "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px 400px .05fr 80px;
  grid-gap: 10px;
  max-width: 800px;
  margin: auto;
  padding: 0px 51px 0px 51px;
  grid-auto-flow: row;
}

header {
  grid-row: header;
  grid-column: header;
  padding-top: 34px;
}

section {
  grid-row: chart;
  grid-column: chart;
  max-width: 800px;
}

main {
  column-count: 4;
  column-gap: 1em;
  width: 800px;
  margin: .5em 0 0 0;
}

footer {
  grid-row: footer;
  grid-column: footer;
  text-align: right;
}


/* CHARTS */
.chart {
  width: 800px;
  display: block;
}

.chartmobile {
  display: none;
}

.domain {
  border-radius: -1px;
  stroke-opacity: 0;
}

.tooltip {
  display: inline-block;
  position: absolute;
  text-align: left;
  padding: 6px;
  font-family: PT Mono;
  font-style: normal;
  font-size: 12px;
  color: white;
  background: #55546E;
  border-radius: 3px;
  pointer-events: none;
}

/* AREACHART */
#areaWorkoutsPerWeek, #areaSufferScorePerMonth{
  width: 185px;
  height: 100px;
}

svg {
  /* background-color: #fff; */
}

.xAxis line, .xAxis path, .yAxis line, .yAxis path {
  stroke: #FCE545;
}
.xAxis text {
  fill: #55546E;
  font-family: PT Mono;
  font-style: normal;
  text-transform: uppercase;
  background-size: 5px;
  background-color: black;
}

.xAxis text1 {
  fill: #55546E;
  font-family: Roboto Mono;
  /* font-style: normal; */
  font-weight: 500;
  text-transform: uppercase;
  /* background-color: black; */
}

.yAxis text {
  fill: #55546E;
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  text-transform: uppercase;
}


.barsCountWorkouts, .barsHoursWorkouts,  .barsDistanceWorkouts  {
  width: 200px;
height: 110px;
  margin: 4px;
}


.areaWorkoutsPerWeek {
  width: 200px;
  margin: 4px;
}

/* METRICS */
.metricBig {
  padding: 4px;
  height: auto;
  width: 100%;
  /* background-color: #eee; */
  display: inline-block;
  /* margin: 0 0 1em; */
  width: 100%;
}
.metricMedium {
  padding: 4px;
  height: 100px;
  width: 100%;
  /* background-color: #eee; */
display: inline-block;
/* margin: 0 0 1em; */
width: 100%;
}
.metricSmall {
  padding: 4px;
  height: auto;
  width: 100%;
  /* background-color: #eee; */
display: inline-block;
/* margin: 0 0 1em; */
width: 100%;
}


/* VALUES */
#valuesDark{
  margin: 0px 3px 0px 3px;
  color: #55546E;
  font-size: 150px;
}

#valuesDarkMedium{
  margin: 0px 3px 0px 3px;
  color: #55546E;
  font-size: 100px;
}

#valuesDarkSmall{
  margin: -35px  0px -35px 0px;
  color: #55546E;
  font-size: 70px;

}

#valuesLight{
  margin: 0px 3px 0px 3px;
  color: #fff;
  font-size: 150px;
}

#valuesLightMedium{
  margin: 0px 3px 0px 3px;
  color: #fff;
  font-size: 100px;
}

#valuesFooter{
  margin: 0px 3px 0px 3px;
  /* text-transform: uppercase; */
  /* color: #fff; */
}


/* CSS Mobile */
@media screen and (max-width: 800px) {
  #container {
    display: grid;
    background: #FCE545;
    grid-template-areas:
      "header header header header"
      "chart chart chart chart"
      "content content content content"
      "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 120px 800px .05fr 80px;
    grid-gap: 20px;
    max-width: 350px;
    margin: auto;
    padding: 0px 20px 0px 20px;
    grid-auto-flow: row;
  }

.chart {
  display: none;
  visibility: hidden;
}

.chartmobile {
    display: block;
  }

  header {
    grid-row: header;
    grid-column: header;
    padding-top: 34px;
    max-width: 350px;
  }

  section {
    grid-row: chart;
    grid-column: chart;
    max-width: 350px;
  }

  main {
    column-count: 2;
    column-gap: 1em;
    width: 350px;
    margin: .5em 0 0 0;
  }
  footer {
    grid-row: footer;
    grid-column: footer;
    text-align: right;
    max-width: 350px;
  }
  .mobileBreakLine {
    border: 1px dotted #A99D5A; */
  }


}
